extends layout
block content
  div(class="container")
    div(class="container animated fadeInDown")
      div(class="login_wrapper")
        div(id="login-form" class="form")
          form(method="post" action="/autenticar")
            h1 Acceder
            div
              input(class="form-control" type="text" placeholder="Usuario" name="nick" id="nick" required)
            br
            div
              input(class="form-control" type="password" placeholder="Contraseña" name="contrasena" id="contrasena" required)
            br
            div(align="center")
              button(type="submit" class="btn btn-default btn-block" value="login") Login
            div(class="separator")
              p(class="change_link") New to site? 
                a(href="/registrar") Crear cuenta
