doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    div(class="container")
      block content
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/bootstrap.min.js")
