extends layout
block content
  div(class="container")
    div(class="container animated fadeInDown")
      div(class="login_wrapper")
        div(id="register-form" class="form")
          form(method="post" action="/registrar")
            h1 Crea tu cuenta
            div
              input(class="form-control" type="text" placeholder="Usuario" name="nick" required)
            br
            div
              input(class="form-control" type="password" placeholder="Contraseña" name="contrasena" required)
            br
            div(align="center")
              input(type="submit" value="Register" class="btn btn-default btn-block")
            div(class="separator")
              p(class="change_link") Already a member? 
                a(href="/" class="active" id="login-form-link") Login
