script(src="/javascripts/jquery.js")
script(src="/javascripts/jquery.min.js")
script(src="/javascripts/bootstrap.min.js")
script(src="/knockout/knockout-latest.js")
script(src="/javascripts/idle-timer.js")
script.
  $.idleTimer(300000);
  $(document).bind("idle.idleTimer", function(){
  window.location="/";
  });
  $(document).bind("active.idleTimer", function(){
  });
  $.idleTimer('destroy');
