extends layout

block content
  div(class="row")
    div(class="page-header")
      h2 Historial
  
  <!-- Tabla -->
  div(class="row")
    table(class="table table-striped")
      thead
        tr
          th Descripcion
          th Fecha
      tbody(data-bind="foreach: historiales")
        tr
          td(data-bind="text: descripcion")
          td(data-bind="text: fecha")
  
  include footer
  script(src="/javascripts/contactoCliente.js")            
