extends layout

block content
  div(class="row")
    div(class="page-header btn-group")
      h2 Contactos
      button(type="button" class="btn btn-success" data-toggle="modal" data-target="#modalAgregarContacto") Añadir 
      button(type="button" class="btn btn-info" data-toggle="modal" data-target="#modalAgregarCategoria") Añadir Categoria
  
  <!-- Tabla -->
  div(class="row")
    table(class="table table-striped")
      thead
        tr
          th Nombre
          th Apellido
          th Direccion
          th Telefono
          th Correo
          th Categoria
          th Opciones
      tbody(data-bind="foreach: contactos")
        tr
          td(data-bind="text: nombre")
          td(data-bind="text: apellido")
          td(data-bind="text: direccion")
          td(data-bind="text: telefono")
          td(data-bind="text: correo")
          td(data-bind="text: nombreCategoria")
          td
            div(class="btn-group")
              button(class="btn btn-warning" data-bind="click: $root.cargar" data-toggle="modal" data-target="#modalEditarContacto") Editar
              button(class="btn btn-danger" data-bind="click: $root.eliminar") Eliminar
  
  // Modal Agregar
  div(class="modal fade" id="modalAgregarContacto" role="dialog")
    div(class="modal-dialog")
      div(class="modal-content")
        form(class="form-horizontal" data-bind="submit: agregar")
          div(class="modal-header")
            button(type="button" class="close" data-dismiss="modal") &times;
            h4(class="modal-title") Agregar
          div(class="modal-body")
            div(class="form-group" align="center")
              strong(class="col-lg-3 control-label") Nombre:
              div(class="col-lg-8")
                input(name="nombre" type="text" class="form-control" data-bind="value: contactoNuevo.nombre" required)
            div(class="form-group" align="center")
              strong(class="col-lg-3 control-label") Apellido:
              div(class="col-lg-8")
                input(name="apellido" type="text" class="form-control" data-bind="value: contactoNuevo.apellido" required)
            div(class="form-group" align="center")
              strong(class="col-lg-3 control-label") Direccion:
              div(class="col-lg-8")
                input(name="direccion" type="text" class="form-control" data-bind="value: contactoNuevo.direccion" required)
            div(class="form-group" align="center")
              strong(class="col-lg-3 control-label") Telefono:
              div(class="col-lg-8")
                input(name="telefono" type="text" class="form-control" data-bind="value: contactoNuevo.telefono" required)
            div(class="form-group" align="center")
              strong(class="col-lg-3 control-label") Correo:
              div(class="col-lg-8")
                input(name="correo" type="email" class="form-control" data-bind="value: contactoNuevo.correo" required)
            div(class="form-group" align="center")
              strong(class="col-lg-3 control-label") Categoria:
              div(class="col-lg-8")
                select(class="form-control" name="idCategoria" data-bind="options: categorias, optionsText: 'nombreCategoria', optionValue: 'idCategoria', value: contactoNuevo.Categoria")
          div(class="modal-footer")
            button(type="submit" class="btn btn-primary") Agregar
            button(type="button" class="btn btn-default" data-dismiss="modal") Cancelar
  // Fin Modal Agregar      
  
  <!-- Modal Editar -->
  div(data-bind="if: contactoCargado")
    div(class="modal fade" id="modalEditarContacto" role="dialog")
      div(class="modal-dialog")
        div(class="modal-content")
          form(class="form-horizontal" data-bind="submit: editar")
            div(class="modal-header")
              button(type="button" class="close" data-dismiss="modal") &times;
              h4(class="modal-title") Editar
            div(class="modal-body")
              div(class="form-group" align="center")
                strong(class="col-lg-3 control-label") Nombre:
                div(class="col-lg-8")
                  input(name="nombre" id="nombre" type="text" class="form-control" data-bind="value: contactoCargado().nombre" required)
              div(class="form-group" align="center")
                strong(class="col-lg-3 control-label") Apellido:
                div(class="col-lg-8")
                  input(name="apellido" id="apellido" type="text" class="form-control" data-bind="value: contactoCargado().apellido" required)
              div(class="form-group" align="center")
                strong(class="col-lg-3 control-label") Direccion:
                div(class="col-lg-8")
                  input(name="direccion" id="direccion" type="text" class="form-control" data-bind="value: contactoCargado().direccion" required)
              div(class="form-group" align="center")
                strong(class="col-lg-3 control-label") Telefono:
                div(class="col-lg-8")
                  input(name="telefono" id="telefono" type="text" class="form-control" data-bind="value: contactoCargado().telefono" required)
              div(class="form-group" align="center")
                strong(class="col-lg-3 control-label") Correo:
                div(class="col-lg-8")
                  input(name="correo" id="correo" type="email" class="form-control" data-bind="value: contactoCargado().correo" required)
              div(class="form-group" align="center")
                strong(class="col-lg-3 control-label") Categoria:
                div(class="col-lg-8")
                  select(class="form-control" name="idCategoria" id="idCategoria" data-bind="options: categorias, optionsText: 'nombreCategoria', optionValue: 'CategoriaId', value: contactoCargado().Categoria")
            div(class="modal-footer")
              button(type="submit" class="btn btn-primary") Editar
              button(type="button" class="btn btn-default" data-dismiss="modal") Cancelar
  <!-- Fin Modal Editar -->
  
  
  // Modal Agregar
  div(class="modal fade" id="modalAgregarCategoria" role="dialog")
    div(class="modal-dialog")
      div(class="modal-content")
        form(class="form-horizontal" data-bind="submit: agregarCategoria")
          div(class="modal-header")
            button(type="button" class="close" data-dismiss="modal") &times;
            h4(class="modal-title") Agregar Categoria
          div(class="modal-body")
            div(class="form-group" align="center")
              strong(class="col-lg-3 control-label") Categoria:
              div(class="col-lg-8")
                input(name="nombre" type="text" class="form-control" data-bind="value: categoriaNueva.nombreCategoria" required)
          div(class="modal-footer")
            button(type="submit" class="btn btn-primary") Agregar
            button(type="button" class="btn btn-default" data-dismiss="modal") Cancelar
  // Fin Modal Agregar  
  
  include footer
  script(src="/javascripts/contactoCliente.js")            
