doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    nav(class="navbar navbar-inverse navbar-fixed-top" role="navigation")
      div(class="container")
        div(class="navbar-header")
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand" href="/") Agenda
        div(class="collapse navbar-collapse" id="myNavbar")
          ul(class="nav navbar-nav")
            li
              a(href="/") Contactos
            li
              a(href="/Historial") Historial
            li
              a(href="/Perfil") Perfil
          ul(class="nav navbar-nav navbar-right")
            li
              a(href="/salir") Cerrar Sesion

    div(class="container")
      block content    
