extends layout

block content
  div(class="container")
    div(class="container animated fadeInDown")
      div(class="login_wrapper")      
        div(align="right")
          a(class="btn btn-sm btn-danger" href="/eliminar") Eliminar Cuenta
        div(id="register-form" class="form")
          form(method="post" data-bind="foreach: usuarios" action="/actualizar")
            h1 Perfil
            div
              input(class="form-control" type="text" placeholder="Usuario" name="nick" data-bind="value: nick" required)
            br
            div
              input(class="form-control" type="password" placeholder="Contraseña" name="contrasena" data-bind="value: contrasena" required)
            br
            div(align="center")
              input(type="submit" value="Actualizar" class="btn btn-default btn-block")
  
  include footer
  script(src="/javascripts/contactoCliente.js")            
